In [5]:
# import module
from absenteeism_module import *
import pymysql
from sqlalchemy import create_engine
from sqlalchemy.types import *

# instantiate model from module with pickled model and scaler files
model = AbsenteeismModel('model', 'scaler')

# clean and load data
model.load_and_clean_data("../Data/Absenteeism_new_data.csv")

# add probability and predictions to df
df_new_obs = model.predicted_outputs()
df_new_obs.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Values,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Probability,Prediction
0,0,0.0,0,1,6,4,179,26,30,237.656,19,1,0,0,0.116467,0
1,1,0.0,0,0,6,0,361,52,28,237.656,27,0,1,4,0.873275,1
2,0,0.0,0,1,6,2,155,12,34,237.656,25,0,2,0,0.270874,0
3,0,0.0,0,1,6,4,179,22,40,237.656,22,1,2,0,0.191342,0
4,1,0.0,0,0,6,4,155,12,34,237.656,25,0,2,0,0.698491,1

In [6]:
# pymysql engine connection to db
conn = pymysql.connect(database = 'predicted_outputs', user = 'root', password = '')
# cursor obj within workbench
cursor = conn.cursor()

In [8]:
# execute query
cursor.execute('SELECT * FROM predicted_outputs;')

0

### Insert DF by rows in table

In [9]:
# baseline insert query
insert_query = 'INSERT INTO predicted_outputs VALUES'

In [10]:
# shape of the df to insert
df_new_obs.shape

(40, 16)

In [11]:
# get column names
df_new_obs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Values',
       'Day of the Week', 'Transportation Expense', 'Distance to Work',
       'Age', 'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Probability', 'Prediction'], dtype=object)

In [13]:
# loop to construct query
# loop through rows
for row in range(df_new_obs.shape[0]):
#   add parenthesis to begin
    insert_query += '('
#   loop through columns to gather values
    for col in range(df_new_obs.shape[1]):
#       get column number from values and extracting corresponding value from df
        insert_query += str(df_new_obs[df_new_obs.columns.values[col]][row]) + ', '
#   remove the last comma and space and close parantheses and prepare for next row data
    insert_query = insert_query[:-2] + '), '

In [14]:
insert_query

'INSERT INTO predicted_outputs VALUES(0, 0.0, 0, 1, 6, 4, 179, 26, 30, 237.656, 19, 1, 0, 0, 0.11646673058944838, 0), (1, 0.0, 0, 0, 6, 0, 361, 52, 28, 237.656, 27, 0, 1, 4, 0.8732752530272143, 1), (0, 0.0, 0, 1, 6, 2, 155, 12, 34, 237.656, 25, 0, 2, 0, 0.27087408729585466, 0), (0, 0.0, 0, 1, 6, 4, 179, 22, 40, 237.656, 22, 1, 2, 0, 0.19134210570340598, 0), (1, 0.0, 0, 0, 6, 4, 155, 12, 34, 237.656, 25, 0, 2, 0, 0.6984905273002678, 1), (1, 0.0, 0, 0, 6, 0, 225, 26, 28, 237.656, 24, 0, 1, 2, 0.728028158479863, 1), (1, 0.0, 0, 0, 6, 2, 118, 15, 46, 275.089, 25, 0, 2, 0, 0.5739518538876448, 1), (0, 0.0, 0, 1, 6, 2, 179, 26, 30, 275.089, 19, 1, 0, 0, 0.12871192435178627, 0), (0, 0.0, 0, 1, 6, 4, 118, 10, 37, 275.089, 28, 0, 0, 0, 0.12098223186268232, 0), (1, 0.0, 0, 0, 6, 2, 118, 10, 37, 275.089, 28, 0, 0, 0, 0.5188113854953137, 1), (0, 0.0, 0, 1, 6, 3, 378, 49, 36, 275.089, 21, 0, 2, 4, 0.42733773358856314, 0), (0, 0.0, 1, 0, 6, 3, 118, 13, 50, 275.089, 31, 0, 1, 0, 0.6202086100129562, 1), (0, 0.0, 1, 0, 6, 4, 233, 51, 31, 275.089, 21, 1, 1, 8, 0.30281973322492217, 0), (0, 0.0, 0, 1, 6, 4, 179, 26, 30, 275.089, 19, 1, 0, 0, 0.11645257256224982, 0), (0, 0.0, 0, 0, 6, 0, 235, 29, 48, 275.089, 33, 0, 1, 5, 0.08272869696183001, 0), (0, 0.0, 0, 0, 6, 3, 268, 11, 33, 275.089, 25, 1, 0, 0, 0.15581998356624704, 0), (0, 0.0, 1, 0, 6, 3, 118, 13, 50, 275.089, 31, 0, 1, 0, 0.6202086100129562, 1), (1, 0.0, 0, 0, 6, 3, 179, 26, 30, 275.089, 19, 1, 0, 0, 0.4937376075145001, 0), (0, 0.0, 0, 1, 6, 3, 291, 31, 40, 275.089, 25, 0, 1, 1, 0.371280159904245, 0), (1, 0.0, 0, 0, 7, 0, 179, 26, 30, 275.089, 19, 1, 0, 0, 0.5482276165183791, 1), (0, 0.0, 0, 1, 7, 0, 118, 10, 37, 275.089, 28, 0, 0, 0, 0.15347968766092385, 0), (0, 0.0, 0, 1, 7, 3, 233, 51, 31, 275.089, 21, 1, 1, 8, 0.04887231080315323, 0), (1, 0.0, 0, 0, 7, 4, 118, 10, 37, 275.089, 28, 0, 0, 0, 0.502170381255913, 1), (1, 0.0, 0, 0, 7, 2, 118, 10, 37, 275.089, 28, 0, 0, 0, 0.5306481697237044, 1), (0, 0.0, 0, 1, 7, 2, 233, 51, 31, 275.089, 21, 1, 1, 8, 0.051592652355342807, 0), (0, 0.0, 0, 1, 7, 2, 235, 20, 43, 264.604, 38, 0, 1, 0, 0.5159506818024923, 1), (0, 0.0, 1, 0, 7, 4, 233, 51, 31, 264.604, 21, 1, 1, 8, 0.3129416884240864, 0), (1, 0.0, 0, 0, 7, 0, 228, 14, 58, 264.604, 22, 0, 2, 1, 0.6743790609800473, 1), (0, 0.0, 0, 1, 7, 0, 118, 10, 37, 264.604, 28, 0, 0, 0, 0.15348469502028045, 0), (1, 0.0, 0, 0, 7, 1, 228, 14, 58, 264.604, 22, 0, 2, 1, 0.6617328429350037, 1), (0, 0.0, 0, 1, 7, 1, 189, 29, 33, 264.604, 25, 0, 2, 2, 0.26030651802442345, 0), (0, 0.0, 0, 1, 7, 2, 118, 10, 37, 264.604, 28, 0, 0, 0, 0.13924290613715695, 0), (0, 0.0, 0, 1, 7, 2, 361, 52, 28, 264.604, 27, 0, 1, 4, 0.4798003381145825, 0), (0, 0.0, 0, 1, 7, 2, 225, 26, 28, 264.604, 24, 0, 1, 2, 0.26377586206681175, 0), (1, 0.0, 0, 0, 7, 0, 369, 17, 31, 264.604, 25, 0, 3, 0, 0.9705607552166304, 1), (1, 0.0, 0, 0, 7, 1, 289, 36, 33, 264.604, 30, 0, 2, 1, 0.9157261748640487, 1), (1, 0.0, 0, 0, 7, 1, 235, 11, 37, 264.604, 29, 1, 1, 1, 0.7685282267270989, 1), (0, 0.0, 0, 0, 7, 1, 118, 14, 40, 271.219, 34, 0, 1, 8, 0.018849650840160284, 0), (0, 0.0, 0, 0, 7, 2, 231, 35, 39, 271.219, 35, 0, 2, 2, 0.2516762609842597, 0), (0, 0.0, 0, 0, 7, 4, 179, 45, 53, 271.219, 25, 0, 1, 1, 0.05873182439589989, 0), '

In [15]:
# replace end with semicolon
insert_query = insert_query[:-2] + ';'
insert_query

'INSERT INTO predicted_outputs VALUES(0, 0.0, 0, 1, 6, 4, 179, 26, 30, 237.656, 19, 1, 0, 0, 0.11646673058944838, 0), (1, 0.0, 0, 0, 6, 0, 361, 52, 28, 237.656, 27, 0, 1, 4, 0.8732752530272143, 1), (0, 0.0, 0, 1, 6, 2, 155, 12, 34, 237.656, 25, 0, 2, 0, 0.27087408729585466, 0), (0, 0.0, 0, 1, 6, 4, 179, 22, 40, 237.656, 22, 1, 2, 0, 0.19134210570340598, 0), (1, 0.0, 0, 0, 6, 4, 155, 12, 34, 237.656, 25, 0, 2, 0, 0.6984905273002678, 1), (1, 0.0, 0, 0, 6, 0, 225, 26, 28, 237.656, 24, 0, 1, 2, 0.728028158479863, 1), (1, 0.0, 0, 0, 6, 2, 118, 15, 46, 275.089, 25, 0, 2, 0, 0.5739518538876448, 1), (0, 0.0, 0, 1, 6, 2, 179, 26, 30, 275.089, 19, 1, 0, 0, 0.12871192435178627, 0), (0, 0.0, 0, 1, 6, 4, 118, 10, 37, 275.089, 28, 0, 0, 0, 0.12098223186268232, 0), (1, 0.0, 0, 0, 6, 2, 118, 10, 37, 275.089, 28, 0, 0, 0, 0.5188113854953137, 1), (0, 0.0, 0, 1, 6, 3, 378, 49, 36, 275.089, 21, 0, 2, 4, 0.42733773358856314, 0), (0, 0.0, 1, 0, 6, 3, 118, 13, 50, 275.089, 31, 0, 1, 0, 0.6202086100129562, 1), (0, 0.0, 1, 0, 6, 4, 233, 51, 31, 275.089, 21, 1, 1, 8, 0.30281973322492217, 0), (0, 0.0, 0, 1, 6, 4, 179, 26, 30, 275.089, 19, 1, 0, 0, 0.11645257256224982, 0), (0, 0.0, 0, 0, 6, 0, 235, 29, 48, 275.089, 33, 0, 1, 5, 0.08272869696183001, 0), (0, 0.0, 0, 0, 6, 3, 268, 11, 33, 275.089, 25, 1, 0, 0, 0.15581998356624704, 0), (0, 0.0, 1, 0, 6, 3, 118, 13, 50, 275.089, 31, 0, 1, 0, 0.6202086100129562, 1), (1, 0.0, 0, 0, 6, 3, 179, 26, 30, 275.089, 19, 1, 0, 0, 0.4937376075145001, 0), (0, 0.0, 0, 1, 6, 3, 291, 31, 40, 275.089, 25, 0, 1, 1, 0.371280159904245, 0), (1, 0.0, 0, 0, 7, 0, 179, 26, 30, 275.089, 19, 1, 0, 0, 0.5482276165183791, 1), (0, 0.0, 0, 1, 7, 0, 118, 10, 37, 275.089, 28, 0, 0, 0, 0.15347968766092385, 0), (0, 0.0, 0, 1, 7, 3, 233, 51, 31, 275.089, 21, 1, 1, 8, 0.04887231080315323, 0), (1, 0.0, 0, 0, 7, 4, 118, 10, 37, 275.089, 28, 0, 0, 0, 0.502170381255913, 1), (1, 0.0, 0, 0, 7, 2, 118, 10, 37, 275.089, 28, 0, 0, 0, 0.5306481697237044, 1), (0, 0.0, 0, 1, 7, 2, 233, 51, 31, 275.089, 21, 1, 1, 8, 0.051592652355342807, 0), (0, 0.0, 0, 1, 7, 2, 235, 20, 43, 264.604, 38, 0, 1, 0, 0.5159506818024923, 1), (0, 0.0, 1, 0, 7, 4, 233, 51, 31, 264.604, 21, 1, 1, 8, 0.3129416884240864, 0), (1, 0.0, 0, 0, 7, 0, 228, 14, 58, 264.604, 22, 0, 2, 1, 0.6743790609800473, 1), (0, 0.0, 0, 1, 7, 0, 118, 10, 37, 264.604, 28, 0, 0, 0, 0.15348469502028045, 0), (1, 0.0, 0, 0, 7, 1, 228, 14, 58, 264.604, 22, 0, 2, 1, 0.6617328429350037, 1), (0, 0.0, 0, 1, 7, 1, 189, 29, 33, 264.604, 25, 0, 2, 2, 0.26030651802442345, 0), (0, 0.0, 0, 1, 7, 2, 118, 10, 37, 264.604, 28, 0, 0, 0, 0.13924290613715695, 0), (0, 0.0, 0, 1, 7, 2, 361, 52, 28, 264.604, 27, 0, 1, 4, 0.4798003381145825, 0), (0, 0.0, 0, 1, 7, 2, 225, 26, 28, 264.604, 24, 0, 1, 2, 0.26377586206681175, 0), (1, 0.0, 0, 0, 7, 0, 369, 17, 31, 264.604, 25, 0, 3, 0, 0.9705607552166304, 1), (1, 0.0, 0, 0, 7, 1, 289, 36, 33, 264.604, 30, 0, 2, 1, 0.9157261748640487, 1), (1, 0.0, 0, 0, 7, 1, 235, 11, 37, 264.604, 29, 1, 1, 1, 0.7685282267270989, 1), (0, 0.0, 0, 0, 7, 1, 118, 14, 40, 271.219, 34, 0, 1, 8, 0.018849650840160284, 0), (0, 0.0, 0, 0, 7, 2, 231, 35, 39, 271.219, 35, 0, 2, 2, 0.2516762609842597, 0), (0, 0.0, 0, 0, 7, 4, 179, 45, 53, 271.219, 25, 0, 1, 1, 0.05873182439589989, 0);'

In [16]:
# write insert query
cursor.execute(insert_query)

40

In [17]:
# commit to db
conn.commit()

In [18]:
# check db contents
cursor.execute('SELECT * FROM predicted_outputs;')

40

In [19]:
# close connection
conn.close()